*{
    margin: 0;
  }
  #wrapper{
    justify-content: center;
    background-color:lightgray;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap ; 
  }
  .row{
    justify-content: center;
    background-color:lightgray;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap ; 
  }
  #wrapper-b{
    justify-content: center;
    background-color:lightgray;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap ; 
  }
  .hola{
    width: 20%;
  }
  
  .status-dashbord{
    
    background-color:bisque ;
    color: blue;
  }
  .card{
    margin: 30px;
    min-height: 200px;
    text-align: center;
    width:80%;
    background-color: white;
    box-shadow: 10px 5px 5px black
}

.card ul {
    list-style: none;
    padding: 0;
}
.div-outage{
    padding:10px ;

}

.outage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: aliceblue;
    text-align: center;

}

.div-message{
    padding:10px ;
    
}

.message{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: aliceblue;
    text-align: center;

}

.apiName{
   text-transform:uppercase;
   font-size: 2rem;
   text-shadow: 1px 1px 2px black;
   padding-top: 5px;
}

.div-hostname{
   height: 20%;
}



.error{
    color:red
}


